// Colors

$light-orange-red: #fce38a;
$light-orange: #f9bd87;
$light-green: #95e1d3;
$light-gray: #ccc;
$dark-gray: #333;
$white-gray: #e5e5e5;
$white: #fff;
$orange: #f38181;

// Fonts

$montserrat: 'Montserrat', sans-serif;
$kaushan: 'Kaushan Script', serif;
$roboto: 'Roboto', sans-serif;