*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.partner-photo{
    border-radius: 60%;
    position: relative;
}

.photo-1::after{
    content: "";
    background-image: url(img/tv.png);
    border: 3px solid #ffffff;
    position: absolute;
    left: 30px;
    top: 30px;
}

.photo-2::after{
    content: "";
    background-image: url(img/chem.png);
    border: 3px solid #ffffff;
    position: absolute;
    left: 30px;
    top: 30px;
}

.photo-3::after{
    content: "";
    background-image: url(img/coffee.png);
    border: 3px solid #ffffff;
    position: absolute;
    left: 30px;
    top: 30px;
}

.photo-4::after{
    content: "";
    background-image: url(img/telegram.png);
    border: 3px solid #ffffff;
    position: absolute;
    left: 30px;
    top: 30px;
}