*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 8px;
}

li {
  margin: 4px;
  display: flex;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.65);
  border-radius: 8px;
  padding-bottom: -2px;
}

img {
  max-width: 200px;
  max-height: 112px;
  border-radius: 8px;
  object-fit: cover;
  transition: all ease-in 200ms;
  filter: grayscale(1);
}

.image-gallery-es6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 97vh;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 24px -10px rgba(0,0,0,0.86);
}

.preview-es6 {
  display: flex;
  list-style: none;
  padding: 0 6px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.fullview-es6 {
  display: flex;
  border-radius: 10px;
}

.js-fullview-img-es6 {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  filter: grayscale(0);
}

.js-current-img {
  filter: grayscale(0);
}

img:hover{
  filter: grayscale(0);
}

.js-scroll-left, 
.js-scroll-right {
  display: none;
  position: fixed;
  bottom: 5%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(139, 0, 139, 0.6);
  z-index: 10;
}

.js-scroll-left {
  left: 3%;
}

.js-scroll-right {
  right: 3%;
} 

.js-scroll-left::before, 
.js-scroll-right::before {
  position: absolute;
  font-family: monospace;
  font-size: 3.5rem;
  font-weight: 900;
  color: black; 
}

.js-scroll-left::before{
  left: 22%;
  content: "<";
}

.js-scroll-right::before{
  right: 22%;
  content: ">";
}

@media (min-width: 1024px) {
  .js-scroll-left, 
  .js-scroll-right {
    display: block;
  }
}