*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

button{
  width: 160px;
  height: 80px;
  border: none;
  border-radius: 20px;
  background-color: #aaaaaa;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 10px;
  word-wrap: normal;
  outline: none;
}

table{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 3px solid #000;
}

th{
  padding: 5px;
}

td{
  padding: 6px 15px;
  border: 1px solid #000;
}
