/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
        url('fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/roboto-slab-v7-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
        url('fonts/roboto-slab-v7-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/roboto-slab-v7-latin-700.woff') format('woff'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* yesteryear-regular - latin */
@font-face {
    font-family: 'Yesteryear';
    font-style: normal;
    font-weight: 400;
    src: local('Yesteryear'), local('Yesteryear-Regular'),
        url('fonts/yesteryear-v6-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/yesteryear-v6-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/montserrat-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('fonts/montserrat-v12-latin-500.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/montserrat-v12-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('fonts/montserrat-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/montserrat-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-serif-italic - latin */
@font-face {
    font-family: 'Noto Serif';
    font-style: italic;
    font-weight: 400;
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
        url('fonts/noto-serif-v6-latin-italic.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/noto-serif-v6-latin-italic.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 130px;
}

nav .menu {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-family: 'Yesteryear';
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-decoration: none;
    color: #fed136;
}

.headline {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #222222;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.subline {
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin-bottom: 80px;
}

.menu {
    list-style: none;
}

.menu-item-li {
    margin: 0 15px;
}

.menu-item {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #222222;
    padding: 2px 4px;
}

.menu-item:hover {
    color: #fed136;
}

.service-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.service {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 290px;
}

.service-headline {
    font-family: 'Montserrat', sans-serif;
    color: #222222;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.service-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    text-align: center;
}

.service-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border: #fed136 solid 3px;
    border-radius: 45px;
    padding: 14px;
}